footer {
    height:50px; 
    width: 100%; 
    background-color: #404040;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
    padding: 10px;
  }
body
{
    color:white ;
}
.navbar-brand
{
    margin-left: 20px;
}
.nav-link
{
    color: white;

}
.nav-link:hover
{
    border-bottom: 2px solid #0d6efd;
    font-size: 110%;
    font-weight: 500;
}
.nav-title
{
    font-size: 130%;
}

.nav
{
   
    color: white;
    min-height: 60px;
}
.bg-dark
{
    background-color: #404040 !important;
}
.header-row
{
    background-color: #212529;
}
.titles {
    margin-left: 70px;
    padding-top: 150px;
    color: #ffffff;
  }
  .sub-title {
    
  }
  html,body {
    background-color: #212529;
}
.about-bg
{
    background-color: #383838 !important;
}
.container-row
{
    margin-bottom: 100px;;
    min-width: 100vh !important;
height: 100%;
}
.about-content
{
    height: 70%;
    padding: 5px;
}
.vertical-padding
{
    padding-top: 20%;
}
.about-image
{
    width: 90%;
    height: 90%;
}
.portfoilio-card-header 
{
    font-size: 120%;
    font-weight: 500;
    color: #ffffff !important;
}
.portfolio-card
{
    margin: 10px;
    background-color: #404040;
    transition: transform .2s; /* Animation */

}
.portfolio-links
{
    float: right;
}
.portfolio-card:hover
{
    box-shadow: 5px 2px 22px 7px #5c5f64;
    transform: scale(1.01);
    z-index: 100;

}

